# Visual Studio Files
.vs/
Temp/
bin/
bin-int/
tests/
*.pdb
*.idb
*.vcxproj
*.filters
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
Lib/External_Debug.lib
Lib/Game_Debug.lib
Lib/tga2dcore_Debug.lib

# Executables
*.exe
*.out
*.app

!premake5.exe